<div id='questions'>
	<h1>Top Questions</h1>
	<ul id='questions'>
	<% @questions.each do |question|%>
		<li class='question'>
     
				<% if signed_in? %>
			  	<% votes = Hash[*question.votes.map {|vote| [vote.user_id, vote.value] }.flatten] %>
					
					<% case %>
					<% when votes.keys.include?(current_user.id) && votes[current_user.id] == 1 %>
						<%= render partial: 'voting', locals: { question: question, vote: 1 } %>
					<% when votes.keys.include?(current_user.id) && votes[current_user.id] == -1 %>
						<%= render partial: 'voting', locals: { question: question, vote: -1 } %>
					<% else %>
						<%= render partial: 'voting', locals: { question: question, vote: 0 } %>
					<% end %>
				<% else %>
					<%= render partial: 'voting', locals: { question: question, vote: 0 } %>
				<% end %>

			<%= link_to "#{question.title}", question_url(question) %>
			<div class='details'>
        <% question.categories.each do |category| %>
          <span class='category'><%= link_to category.text, category_url(category) %>
          </span>
        <% end %>
        <div>
					<%= link_to question.user.username, user_url(question.user) %>| <%= question.created_at.strftime("%b %e, %l:%M %p") %>
				</div>
			</span>
	<% end %>