<div id='logButton'>
	<%= link_to "Login/Signup", :action => "index" %>
</div>

<div id='questionDiv'>
	<h1>Top Questions</h1>
	<ul id='questionList'>
	<% @questions.each do |question|%>
		<li class='questionListItem'>
		  <div class='question'>
        <span class='votes' id="<%= question.id %>"><a href="#" class='upvote'>Up</a> | <a href="#" class='downvote'>Down</a></span>
				<%= link_to "#{question.title}", question_url(question) %><br>
				<span class='details'><%= question.user.username%> | <%= question.created_at%></span>
			</div>
			<div class='categories'>
        <% question.categories.each do |category| %>
          <span class='category'><%= link_to category.text, category_url(category)%>
          </span>
        <% end %>
			</div>
		</li>
	<% end %>
	</ul>
		
</div>
