<div id='questions'>
	<h1>Top Questions</h1>
	<ul id='questions'>
	<% @questions.each do |question|%>
		<li class='question'>
      <span class='votes' id="<%= question.id %>"><span class='voteTotal'><%= question.sum %></span><a href="#" class='upvote'><i class="icon-thumbs-up"></i></a><a href="#" class='downvote'><i class="icon-thumbs-down"></i></a></span>
			<%= link_to "#{question.title}", question_url(question) %>
			<div class='details'>
        <% question.categories.each do |category| %>
          <span class='category'><%= link_to category.text, category_url(category) %>
          </span>
        <% end %>
        <div>
					<%= link_to question.user.username, user_url(question.user) %>| <%= question.created_at.strftime("%b %e, %l:%M %p") %>
				</div>
			</span>
		</li>
	<% end %>
	</ul>		
</div>
