<h6>Submit a Comment</h6>
<%= form_for @comment do |f| %>
	<% unless @answer %>
		<%= f.hidden_field :question_id, :value => @question.id %>
	<% else %>
		<%= f.hidden_field :answer_id, :value => @answer.id %>
	<% end %>
	<%= f.text_area :text, size: "50x4" %>
	<%= f.submit %>
<% end %>
