<%= link_to "< All Users", users_path %>

<div class="user_name">
  <h1><%= @user.username %></h1>
</div>

<div class="avatar">
  <%= image_tag @user.avatar %>
</div>

<div class="user_bio">
  <h3>Karma: <%= @user.karma_sum %></h3>
</div>

<div class="user_description">
  <h3>About:</h3>
  <%= @user.description %>
</div>

<ul class="tabs">
  <li class="active"><a href="#user_questions">Questions</a></li>
  <li><a href="#user_answers">Answers</a></li>
  <li><a href="#user_comments">Comments</a></li>
</ul>

<div class="user_content">
  <div class="tab" id="user_questions">
    <h3>Questions:</h3>
    <ul>
    <% @user.questions.each do |question| %>
      <li><%= link_to "#{question.title}", question_path(question) %></li>
    <% end %>
    </ul>
  </div>

  <div class="tab" id="user_answers">
    <h3>Answers:</h3>
    <ul>
    <% @user.answers.each do |answer| %>
      <li><%= link_to "#{answer.text}", question_path(answer.question) %></li>
    <% end %>
    </ul>
  </div>

  <div class="tab" id="user_comments">
    <h3>Comments:</h3>
    <ul>
    <% @user.comments.each do |comment| %>
      <li><%= link_to "#{comment.text}", question_path(comment.commentable) %></li>
    <% end %>
    </ul>
  </div>
</div>
